# http://www.gnu.org/software/automake

Makefile
Makefile.in
/build-aux/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/lib/.deps
/src/.deps
/aclocal.m4
/autom4te.cache
/autoscan-*.log
/autoscan.log
/build-aux/compile
/build-aux/config.cache
/build-aux/config.guess
/config.h
/config.h.in
/config.log
/config.status
/build-aux/config.sub
/configure
/configure.scan
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/stamp-h
/stamp-h1
/m4/

# https://www.gnu.org/software/libtool/

/build-aux/config.rpath
/build-aux/ltmain.sh
/libtool
/src/.libs

# http://www.gnu.org/software/texinfo

/texinfo.tex

# Prerequisites
*.d

# tarballs
*.tar.gz
*.tgz
*.zip

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/src/mrz
/src/msz

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.sum

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual studio
.vs/
*.tlog
*.log
*.filters

# Temporary files
*~
*.tmp
*.temp
*.orig
*.bak
\#*
